@import '../../assets/styles/mixins';
@import '../../assets/styles/reset';
@import '../../assets/styles/variables';

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 600 normal 10px/1.4 $default-font;
  color: $gray-color;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $white-color;

  @include notebook {
    position: relative;
  }
}

.books_block {
  margin-top: 150px;

  @include mobileMedium {
    margin-top: 120px;
  }

  @include mobileSmall {
    margin-top: 90px;
  }
}
