@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.container {
  @include container;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 116px;
}

.header_logo {
  font-weight: 900;
  font-size: 24px;
  color: $black-color;
  text-decoration: none;
  cursor: pointer;
}

.burger_menu {
  position: relative;
  display: none;
  background: transparent;
  border: none;
  width: 33px;
  height: 22px;
  margin-right: 15px;
  cursor: pointer;

  @include mobileMedium {
    display: inline-block;
  }

  > span {
    position: absolute;
    border-radius: 2px;
    transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
    background-color: $black-color;

    &:nth-child(1) {
      top: 0px;
      left: 0px;
    }

    &:nth-child(2) {
      top: 9px;
      left: 0px;
      opacity: 1;
    }

    &:nth-child(3) {
      bottom: 0px;
      left: 0px;
    }
  }

  &.burger_active {
    & span:nth-child(1) {
      transform: rotate(45deg);
      top: 13px;
    }

    & span:nth-child(2) {
      opacity: 0;
    }

    & span:nth-child(3) {
      transform: rotate(-45deg);
      top: 13px;
    }
  }
}

.nav {
  @include mobileMedium {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    &.nav_active {
      display: block;
    }
  }
}

.nav_list {
  display: flex;
  gap: 40px;

  @include mobileMedium {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: $white-color;
  }

  > li {
    > .nav_link {
      font-size: 10px;
      text-decoration: none;
      text-transform: uppercase;
      color: $gray-color;
      cursor: pointer;
    }

    @include mobileMedium {
      &:last-child {
        padding-bottom: 15px;
      }
    }

    & .active {
      font-weight: 900;
      color: $black-color;
    }

    & .nav_link:hover:not(.active) {
      opacity: 0.7;
      transition: all 0.4s ease-in-out;
    }
  }
}

.user_actions {
  display: flex;
  gap: 40px;

  > button {
    position: relative;
    background: transparent;
    cursor: pointer;

    > .counter {
      position: absolute;
      bottom: -5px;
      right: -4px;
      z-index: 1;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $counter-bg;
      font-weight: 500;
      color: $white-color;

      &.hidden {
        display: none;
      }
    }
  }

  > button:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
  }
}
