@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.container {
  @include container;
  position: relative;
}

.booksblock_wrapper {
  display: flex;
}

.books_categories {
  width: 258px;

  &::before {
    content: '';
    position: absolute;
    top: -45px;
    left: -100vw;
    right: 864px;
    height: 710px;
    background-color: $dote-bg-color;
    z-index: -1;

    @include tabletLarge {
      right: 700px;
    }

    @include tabletSmall {
      right: 550px;
    }

    @include mobileLarge {
      right: 400px;
    }

    @include mobileMedium {
      right: 300px;
    }

    @include mobileSmall {
      right: 250px;
    }
  }

  > li {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 23px;
    cursor: pointer;

    @include tabletLarge {
      padding-left: 20px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    &.active {
      position: relative;
      font-size: 16px;
      font-weight: 700;
      color: $black-color;
      list-style-type: none;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -16px;
        display: block;
        background-color: $choose-color;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;

        @include netbook {
          width: 0;
          height: 0;
        }
      }
    }
  }
}

.books_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  padding-bottom: 74px;

  @include mobileSmall {
    gap: 50px;
  }

  > div {
    display: flex;
    width: 924px;
    flex-wrap: wrap;
    gap: 96px 76px;

    @include tabletLarge {
      max-width: 800px;
      justify-content: center;
    }

    @include tabletSmall {
      width: 100%;
    }

    @include mobileMedium {
      gap: 70px 50px;
    }
  }

  > .books_btn {
    @include bookButton;

    &.hidden {
      display: none;
    }
  }
}

.book_card {
  width: 424px;
  display: flex;
  gap: 36px;

  @include mobileSmall {
    max-width: 212px;
    flex-direction: column;
    gap: 15px;
  }

  > .book_cover {
    min-width: 212px;
    height: 307px;
    object-fit: cover;
    box-shadow: $banner-shadow;
  }
}

.book_info {
  padding-top: 49px;

  @include mobileSmall {
    padding-top: 0;
  }

  > p:first-child {
    @include bookInfo;
    margin-bottom: 4px;
  }

  > h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $black-color;
  }

  > .book_rating {
    display: flex;
    align-items: center;

    > .full_star {
      color: $full-star;
      font-size: 12px;
    }

    > .empty_star {
      color: $empty-star;
      font-size: 12px;
    }

    > .book_reviews {
      font-weight: 500;
      color: $gray-color;
      margin-left: 6px;
    }
  }

  > .book_description {
    @include bookInfo;
    margin-top: 16px;
  }

  > .book_price {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: $black-color;
    margin-top: 16px;
  }

  > .book_btn {
    @include bookButton;
    margin-top: 16px;

    &.book_btn_cart {
      color: $gray-color;
      border: 1px solid $empty-star;

      @include mobileSmall {
        border-color: $gray-color;
      }
    }
  }
}
