@mixin notebook {
  @media all and (max-width: 1440px) {
    @content;
  }
}

@mixin netbook {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin tabletLarge {
  @media all and (max-width: 1063px) {
    @content;
  }
}

@mixin tabletSmall {
  @media all and (max-width: 940px) {
    @content;
  }
}

@mixin mobileLarge {
  @media all and (max-width: 807px) {
    @content;
  }
}

@mixin mobileMedium {
  @media all and (max-width: 704px) {
    @content;
  }
}

@mixin mobileSmall {
  @media all and (max-width: 580px) {
    @content;
  }
}

@mixin container {
  max-width: 1120px;
  margin: 0 auto;
}

@mixin banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  color: $black-color;
  box-shadow: $banner-shadow;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

@mixin arrow {
  width: 50px;
  height: 12px;
}

@mixin bookInfo {
  font-family: $additional-font;
  font-weight: 500;
}

@mixin bookButton {
  width: 176px;
  height: 45px;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  text-transform: uppercase;
  background: transparent;
  color: $btn-color;
  border: 1px solid $btn-color;
  cursor: pointer;
}
