@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Open+Sans&display=swap');

$default-font: 'Montserrat', sans-serif;
$additional-font: 'Open Sans', sans-serif;
$black-color: #1c2a39;
$gray-color: #5c6a79;
$dote-color: #9e98dc;
$choose-color: #756ad3;
$btn-color: #4c3db2;
